<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LoadDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LoadDB.Properties.Settings.ConnectionString" connectionString="server=localhost;User Id=root;password=;Persist Security Info=True;SslMode=none;" />
    </connectionStrings>
    <userSettings>
        <LoadDB.Properties.Settings>
            <setting name="DatabaseName" serializeAs="String">
                <value>SCT-AU-RF2</value>
            </setting>
            <setting name="SnomedFolderLocation" serializeAs="String">
                <value>C:\Extension RoundUp Jan 2017\Australia\NCTS_SCT_RF2_DISTRIBUTION_32506021000036107-20161231-ALL\SnomedCT_Release_AU1000036_20161231\</value>
            </setting>
        </LoadDB.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
